.company-card {
  width: 100% !important;
}

.company-card-image {
  margin-top: 1rem;
  height: 128px;
  width: 128px;
}

.bttm-bar {
  display: flex;
  position: absolute;
  top: 65% !important;
  left: 22%;
  width: 100%;
  color: grey;
}

.salary {
  position: absolute;
  left: 52%;
  width: 26%;
}
